* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2em;
    padding: 0;
    background-color: #E5E4E4;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #AD0000;
}

input[type="checkbox"] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 2rem;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

li ul {
    display: none;
    position: absolute;
    background-color: #AD0000;
}

nav ul li {
    flex: 0 0 8rem;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
    color: white;
}

nav ul li:hover {
    background-color: #AD0000;
}

nav ul li a:hover {
    color: #ED8B8B;
    font-style: italic;
}

nav ul li:hover ul {
    display: flex;
    flex-direction: column;
}

nav ul li ul li {
    flex: 0 1 auto;
    width: 8rem;
}

@media screen and (max-width: 700px) {
    nav ul {
        display: none;
        flex-direction: column;
    }

    .hamburger {
        display: block;
        float: right;
        cursor: pointer;
    }

    input[type="checkbox"]:checked ~ ul {
        display: block;
    }

    li ul {
        position: static;
    }
    nav ul li {
        flex: 0 0 auto;
        width: 100%;
    }
}

main {
    background-color: silver;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

figure {
    flex-basis: 300px;
    flex-grow: 0;
}

img {
    width: 100%;
}

.info {
    background-color: cadetblue;
    color: white;
    padding: 1em;
    flex-basis: 300px;
    flex-grow: 1;
}

p {
    margin-top: 1em;
}


h1, h2 {
    font-family: Didot, serif;
    text-align: center;
    font-size: 40px;
}

h1 {
    margin-top: 1cm;
}

h2 {
    margin-bottom: 1cm;
}

.first {
    color: olive;
    text-indent: 5%;
}

@media screen and (max-width: 600px) {
    .info {
        font-size: 0.5;
    }
    
    main {
        flex-direction: column;
    }
}