* {
  margin: 5px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  background-color: #E5E4E4;
  margin-top: 2cm;
  font-family: Didot, 'Times New Roman', Times, serif;
}

.title {
  text-align: center;
  font-size: 40px;
}

section.dramatis {
  border: 10px solid #AD0000;
  margin: 3em auto;
  width: 60%;
  background-color: whitesmoke;
}

section.play {
  border: 5px solid #AD0000;
  background-color: white;
  margin: 2em auto;
  width: 60%;
  padding-right: 3cm;
}

div.sceneImage {
}

h1.act {
  background-color: #AD0000;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 3em;
  margin-right: -2.8cm;
}

p.character {
  display: block;
  position: relative;
  left: -7;
  top: 1em;
  font-size: 15px;
  width: 4em;
  padding-left: 0.2cm;
}

p.characternamelast {
  font-size: 17px;
  padding-left: 7px;
  padding-bottom: 0.7cm;
}

p.charactername2 {
  font-size: 17px;
}

h1.dramatishead {
  text-align: center;
  font-size: 30px;
  margin-top: 0.6cm;
}

h2.firstscene, h2.scene {
  text-align: center;
  font-size: 30px;
  margin-left: 2.5cm;
  border-top: 5px solid #AD0000;
  padding-top: 0.2cm;
}

h2.location {
  text-align: center;
  font-size: 28px;
  margin-left: 2.5cm;
  padding-top: 0.2cm;
  padding-bottom: 0.2cm;
  border-bottom: 5px solid #AD0000;
}

p.play_location {
}

p.prose {
  display: block;
  position: relative;
  right: -7em;
  top: -8.5px;
}

p.song {
}

h2.stagedirection, span.stagenames {
  text-align: center;
  font-size: 25px;
  padding-top: 0.2cm;
  padding-bottom: 0.2cm;
}

h2.stagedirection {
  margin-left: 2.5cm;
}

span.stagenames {
  color: #AD0000;
  font-style: italic;
}

p.verseline {
  position: relative;
  right: -7em;
  top: -8.5px;
}

span.character_role {
  color: #AD0000;
}

span.stage_directions_inline {
  color: #AD0000;
}

h2.stagedirectiontext {
  text-align: center;
  font-size: 25px;
  margin-left: 2.5cm;
  padding-top: 0.2cm;
  padding-bottom: 0.2cm;
}

span.character_beforespeech {
}

figure {
  width: 70%;
  margin: 0;
}

img {
  width: 100%;
  margin: 0;
}

.backtotop {
  position: fixed;
  bottom: 2px;
  right: 8px;
  opacity: 0.9;
}

.backtotop a {
  text-decoration: none;
  font-size: 3em;
  color: black;
}

.backtotop a:hover {
  color: #AD0000;
}

nav {
  width: 100%;
  position: fixed;
  top: -0.2cm;
  left: -0.2cm;
  background-color: #ad0000b9;
  text-align: center;
  z-index: 100;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

li ul {
  display: none;
  position: absolute;
  background-color: #ad0000b9;
}

nav ul li {
  flex: 0 0 8rem;
  align-items: center;
  display: block;
}

nav ul li a {
  text-decoration: none;
  padding: 0.3rem 1rem;
  display: block;
  color: white;
}

nav ul li a:hover {
  color: #ED8B8B;
  font-style: italic;
}

nav ul li:hover ul {
  display: flex;
  flex-direction: column;
}

nav ul li ul li {
  flex: 0 1 auto;
  width: 4.5cm;
  margin-left: -2cm;
}

li.Home {
  margin-right: auto;
}

@media screen and (max-width: 1400px) {
  nav ul {
      display: none;
      flex-direction: column;
  }
  .hamburger {
      display: block;
      float: right;
      cursor: pointer;
  }

  input[type="checkbox"]:checked ~ ul {
      display: block;
  }

  li ul {
      position: static;
  }
  nav ul li {
      flex: 0 0 auto;
      width: 100%;
  }

@media screen and (max-width: 800px) {}

  html {
    scroll-padding-top: 75px;
  }

  section.dramatis {
    width: 90%;
  }

  section.play {
    width: 90%;
    font-size: 15px;
  }

  p.charactername2 {
    font-size: 15px;
  }

  p.characternamelast {
    font-size: 15px;
  }
  h1.act {
    font-size: 25px;
  }
  h2.firstscene, h2.scene {
    font-size: 20px;
  }
  h2.location {
    font-size: 20px;
  }
  h2.stagedirection, span.stagenames {
    font-size: 17px;
  }
  h2.stagedirectiontext {
    font-size: 17px;
  }
}