body {
}

section.dramatis {
}

section.play {
}

div.sceneImage {
}

h1.act {
}

p.character {
  display: block;
  position: relative;
  left: -7;
  top: 1em;
  font-size: 1.1em;
  width: 4em;
  padding-left: 4px;
}

p.charactername {
}

h1.dramatishead {
}

h2.firstscene {
}

h2.location {
}

p.play_location {
}

p.prose {
}

h2.scene {
}

p.song {
}

h2.stagedirection {
}

p.verseline {
  display: block;
  position: relative;
  right: -5em;
}

span.character_role {
}

span.stage_directions_inline {
}

span.character_beforespeech {
}

figure {
  width: 70%;
  margin: 0;
}

img {
  width: 100%;
  margin: 0;
}